.table-wrapper {
    table {
        min-width: 100%;
    }
    td {
        text-align: center;
        height: 32px;
    }

    .table-wrapper table > tbody > tr {
        cursor: pointer;
    }

    tbody  {
        tr {
            cursor: pointer;
        }
        > tr:nth-child(2n) {
            background: #F1F1F1;
        }
    }
}

th {
    background: #3A80BA;
    color: #FFFFFF;
    height: 48px;
    text-align: center;

    &:nth-child(1) {
        border-top-left-radius: 7px;
    }

    &:last-child {
        border-top-right-radius: 7px;
    }
}





