* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 540px;

}

.tracker-list {
  margin-top: 25px;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 564px){
    .content {
      width: 100%;
    }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
